NEXT_PUBLIC_SUPABASE_URL=https://pfpuccklbmlxvivdgjel.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_XNLE3NkIb5vod0lesINgFw_0DXHz_9j
FRED_API_KEY=e8d5c8b61bfb2a512ee1da34f42e4e37
FMP_API_KEY=AhmuvW2Tyd9MzVYGFkk3SgSObNOs3LxA
GNEWS_API_KEY=8b94716fc0e7c763823e73a1cc384f2c
